html, body{
  /* 禁止选择文本 */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  /* 禁止文字自动调整大小*/
  -webkit-text-size-adjust: 100%;
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  font-size: 0;
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd{
  margin: 0;
}
ul,ol{
  padding: 0;
  list-style: none;
}
img{
  border: none;
  vertical-align: top;
}
a{
  text-decoration: none;
}
img,a{
  /* 禁止长按页面弹出菜单 */
  -webkit-touch-callout: none;
}
button {
  border: none;
}
input,button,select, textarea{
  box-sizing: border-box;
  outline: none;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  -webkit-appearance: none;
  border: none;
  border-radius: 0;
}
a,input,button, textarea{
  /* 禁止IOS点击元素高亮 */
  -webkit-tap-highlight-color: transparent;
}
/*隐藏滚轮*/
::-webkit-scrollbar {
  display: none;
}